.main-form-01{
    margin: 30px;
    margin-left: 15%;
    padding: 20px;
    border: #5a1f0c 2px solid;
    border-radius: 20px;
    width: 70%;
    animation: fadein 1s ease-in-out;

    
  
}

.user-application{
    margin: 30px;
    font-size: 40px;
    text-align: center;
    
}

.application-form{
    margin: 30px;
}

.topic1{
    font-size: 35px;
    background-color: #5a1f0c;
    color: #f2f2f2;
    padding: 10px;
    width: 98%;
    border-radius: 10px;
    text-align: center;
 
}

.input-group label {
    color: #5a1f0c;
    top: 8px;
    left: 8px;
    transition: all 0.3s;
    
}

.top1{
    color: #5a1f0c;
    
    margin-left:auto;
    font-weight: normal;
    font-size: 20px;

}

.input-group input{
    width: 97%;
    /* padding: 10px; */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    background-color: #f2f2f2;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#email{
    width: 97%;
    padding: 15px;
    
}

.option{
    left: 10%;
    width: 5%;
    display: flex;
    gap: 15px;
    /* background: #b2a7a7; */
    
}

select{
    font-size: 20px;
    border: #5a1f0c 2px solid;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);  
}

hr{
    border: #5a1f0c 1px solid;
}

.buttons button{
    font-size:30px;
    padding: 10px;
    margin-left: 40px;
    margin: 20px;
    position: relative;
    box-shadow: 0px 10px 16px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px ;
    background: linear-gradient(267deg, rgb(129, 8, 8) 0.56%, rgb(17, 4, 4) 80%);
    color: aliceblue;
    border: 2px solid #ffffff;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    left: 70%;
}

.buttons button:hover{
    padding: 10px ;
    border-radius: 20px;
    border: 2px solid #5a1f0c;
    background: none;
    color:#5a1f0c;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) ;
    box-shadow: 0px 10px 16px 10px rgba(0, 0, 0, 0.1);
}




