
.vet-head{
    margin: 10px;
}

.vet-title{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    animation: fadein 1s ease-in-out;

}


.vet-1{
    margin:20px;
    margin-left: 10px;
    display: flex;
    animation: fadein 1s ease-in-out;

   
    
   }

.vet-sub-title{
    margin-top: 150px;
    margin-left: 10px;
    top: 40px;
    font-size: 70px;
    text-align: center;
    animation: fadein 1s ease-in-out;

   
}

.vet-sub-content{
    margin-top: 150px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 37px;
    text-align: center;
    animation: fadein 1s ease-in-out;

    
}


@keyframes slideUp {
    0% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.video-background {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 20px;
    position: relative;
    width: 90vh;
    height: 60vh; 
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    border-top: #4e1c0b  solid 3px;
    border-bottom:  #4e1c0b  solid 3px;
      
    
  }
  
  .video-background video {
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -1;
    animation: fade 1s ease-in-out;
    /* transition: opacity 0.5s ease-in-out; */
  ; /* Ensures video covers the entire area */
  }

  @keyframes fade {
    from { opacity: 0; }
    to   { opacity: 0.3; }
}

 
